<form
    action="/admin/add-todo"
    role="form"
    class="row w-50 justify-content-center mx-auto"
    method="POST"
>
    <div class='flex center mySearchParent'>

        <label for="mySearchInput"></label>

        <input
                type="text"
                name="todo"
                placeholder="New Todo"
                class='mySearchInput'
                id="mySearchInput"
        />

        <button type="submit" class='mySearchInputIcon'><i class='fas fa-plus'></i></button>

    </div>

</form>
