<%- include('./includes/head.ejs') %>
<div class="header-div justify-content-center">
    <div>

        <h4 class="text-center center">The requested page could not be found!</h4>

        <a class="text-center center back-to-home" href="/">
            Back to Home
        </a>

    </div>
</div>
<%- include('./includes/footer.ejs') %>
